<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RmgAllocation</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectHandler</display-name>
    <servlet-name>ProjectHandler</servlet-name>
    <servlet-class>com.handler.ProjectHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectHandler</servlet-name>
    <url-pattern>/ProjectHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeHandler</display-name>
    <servlet-name>EmployeeHandler</servlet-name>
    <servlet-class>com.handler.EmployeeHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeHandler</servlet-name>
    <url-pattern>/EmployeeHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginHandler</display-name>
    <servlet-name>LoginHandler</servlet-name>
    <servlet-class>com.handler.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandler</servlet-name>
    <url-pattern>/LoginHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RmgHandler</display-name>
    <servlet-name>RmgHandler</servlet-name>
    <servlet-class>com.handler.RmgHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RmgHandler</servlet-name>
    <url-pattern>/RmgHandler</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SessionValidationFilter</display-name>
    <filter-name>SessionValidationFilter</filter-name>
    <filter-class>com.controller.SessionValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionValidationFilter</filter-name>
    <url-pattern>/jsp/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>Pagefilter</display-name>
    <filter-name>Pagefilter</filter-name>
    <filter-class>com.controller.Pagefilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Pagefilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/rmg/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error/errorpage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/errorpage.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/exceptionpage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>DemoAdd</display-name>
    <servlet-name>DemoAdd</servlet-name>
    <servlet-class>com.handler.DemoAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoAdd</servlet-name>
    <url-pattern>/DemoAdd</url-pattern>
  </servlet-mapping>
</web-app>